<section class="new-training" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
      <mat-select name="food" placeholder="Favorite food" disableRipple>
        <mat-option value="crunches">
          Crunches
        </mat-option>
        <mat-option value="touch-toes">
          Touch Toes
        </mat-option>
        <mat-option value="side-lunges">
          Side Lunges
        </mat-option>
        <mat-option value="burgees">
          Burgees
        </mat-option>
      </mat-select>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button type="submit" mat-button>Start</button>
    </mat-card-actions>
  </mat-card>
</section>